spring:
  datasource:
    url: jdbc:h2:mem:streamingDemo;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        jdbc:
          fetch_size: 50
          batch_size: 50
          order_inserts: true
          order_updates: true
        dialect: org.hibernate.dialect.H2Dialect

server:
  port: 8082

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true